<div class="menutable">
	<div class="text-table">
		<h3>Сведения о загрузке военно-медицинских организаций Минобороны России </h3>
		<h3>по состоянию на {% now "j F Y " %}</h3>
	</div>
	<div class="menuinner">
		<table style=" height: 386px;" border="0" cellspacing="0">
			<colgroup width="37"></colgroup>
			<colgroup width="110"></colgroup>
			<colgroup width="126"></colgroup>
			<colgroup width="117"></colgroup>
			<colgroup width="137"></colgroup>
			<colgroup span="16" width="67"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup width="64"></colgroup>
			<colgroup span="6" width="67"></colgroup>
			<colgroup width="81"></colgroup>
			<colgroup width="67"></colgroup>
			<colgroup width="48"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="54"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="50"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup span="8" width="67"></colgroup>
			<colgroup width="37"></colgroup>
			<colgroup width="110"></colgroup>
			<colgroup width="126"></colgroup>
			<colgroup width="117"></colgroup>
			<colgroup width="137"></colgroup>
			<colgroup span="16" width="67"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup width="64"></colgroup>
			<colgroup span="6" width="67"></colgroup>
			<colgroup width="81"></colgroup>
			<colgroup width="67"></colgroup>
			<colgroup width="48"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="54"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="50"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup span="8" width="67"></colgroup>
			<tbody>
				<tr>
					<td class="Sectionzero" rowspan="5">
						<font face="Times New Roman">№ п/п</font>
					</td>
					<td class="Sectionzero" rowspan="5">
						<font face="Times New Roman" size="3">Подчиненность</font>
					</td>
					<td class="Sectionzero" rowspan="5">
						<font face="Times New Roman" size="3">Наименование ВЛО</font>
					</td>
					<td class="Sectionzero" rowspan="5">
						<font face="Times New Roman" size="3">Субъект Российской Федерации</font>
					</td>
					<td class="Sectionzero" rowspan="5">
						<font face="Times New Roman" size="3">Дислокация ВЛО</font>
					</td>
				</tr>
				<tr>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td class="tableNumber"><i>
							<font face="Times New Roman">1</font>
						</i></td>
					<td class="tableNumber"><i>
							<font face="Times New Roman">2</font>
						</i></td>
					<td class="tableNumber"><i>
							<font face="Times New Roman">3</font>
						</i></td>
					<td class="tableNumber"><i>
							<font face="Times New Roman">4</font>
						</i></td>
					<td class="tableNumber"><i>
							<font face="Times New Roman">5</font>
						</i></td>
				</tr>
				<tr>
					<td class="tableInput">
						<font face="Times New Roman"><br></font>
					</td>
					<td class="tableInput">
						<font face="Times New Roman" color="#000000"><br></font>
					</td>
					<td class="tableInput"><b>
							<font face="Times New Roman" color="#000000"><br></font>
						</b></td>
					<td class="tableInput">
						<font face="Times New Roman" color="#000000"><br></font>
					</td>
					<td class="tableInput"><b>
							<font face="Times New Roman"><br></font>
						</b></td>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="scrootwo">
		<table style="height: 386px;" border="0" cellspacing="0">
			<colgroup width="37"></colgroup>
			<colgroup width="110"></colgroup>
			<colgroup width="126"></colgroup>
			<colgroup width="117"></colgroup>
			<colgroup width="137"></colgroup>
			<colgroup span="16" width="67"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup width="64"></colgroup>
			<colgroup span="6" width="67"></colgroup>
			<colgroup width="81"></colgroup>
			<colgroup width="67"></colgroup>
			<colgroup width="48"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="54"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="50"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup span="8" width="67"></colgroup>
			<colgroup width="37"></colgroup>
			<colgroup width="110"></colgroup>
			<colgroup width="126"></colgroup>
			<colgroup width="117"></colgroup>
			<colgroup width="137"></colgroup>
			<colgroup span="16" width="67"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup width="64"></colgroup>
			<colgroup span="6" width="67"></colgroup>
			<colgroup width="81"></colgroup>
			<colgroup width="67"></colgroup>
			<colgroup width="48"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="54"></colgroup>
			<colgroup width="65"></colgroup>
			<colgroup width="50"></colgroup>
			<colgroup width="62"></colgroup>
			<colgroup span="8" width="67"></colgroup>
			<tr>
				<td class="tableSectio" colspan="16"><span font-family: 'Times New Roman' ; font-size: medium;">Раздел
						1<br />Всего коек в ВМО</span></td>
				<td class="tableSectio" colspan="16" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ; font-size:
						medium;">Раздел 2<br />Количество пациентов с коронавирусной инфекцией</span></td>
				<td class="tableSectio" colspan="8" valign="middle" bgcolor="#FDEADA"><span
						font-family: 'Times New Roman' ; font-size: medium;">Раздел 3<br />Количество военнослужащих в
						зоне ответственности ВМО</span></td>
			</tr>
			<tr style="height: 29px;">
				<td class="tableSectio" colspan="2" rowspan="2" valign="middle" bgcolor="#D9D9D9"><span
						font-family: 'Times New Roman' ; font-size: medium;">развернуто</span></td>
				<td class="tableSectio" colspan="2" rowspan="2" valign="middle" bgcolor="#D9D9D9"><span
						font-family: 'Times New Roman' ; font-size: medium;">занято</span></td>
				<td class="tableSectio" colspan="12"><span font-family: 'Times New Roman' ; font-size: medium;">в том
						числе:</span></td>
				<td class="tableSectio" colspan="2" rowspan="3" bgcolor="#EBF1DE"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;">состояло по состоянию
						на 9:00 предыдущих суток</span></td>
				<td class="tableSectio" colspan="2" rowspan="3" bgcolor="#EBF1DE"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;">поступило в течение
						суток</span></td>
				<td class="tableSectio" colspan="2" rowspan="3" bgcolor="#EBF1DE"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;">выбыло с
						определившимся исходом в течение суток</span></td>
				<td class="tableSectio" colspan="2" rowspan="3" bgcolor="#EBF1DE"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;">переведено в другие
						медицинские организации в течение суток</span></td>
				<td class="tableSectio" colspan="8" rowspan="2" bgcolor="#D7E4BD"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;">состоит на 9:00
						текущих суток</span></td>
				<td class="tableSectio" colspan="5" rowspan="2" bgcolor="#FCD5B5"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;"> с коронавирусной
						инфекцией</span></td>
				<td class="tableSectio" colspan="3" rowspan="2" bgcolor="#FDEADA"><span
						style="color: #000000; font-family: 'Times New Roman'; font-size: medium;">контактных по
						коронавирусной инфекции</span></td>
			</tr>
			<tr style="height: 9px;">
				<td class="tableSectionone" colspan="4"><span font-family: 'Times New Roman' ; font-size:
						medium;">инфекционные</span></td>
				<td class="tableSectionone" colspan="4"><span font-family: 'Times New Roman' ; font-size:
						medium;">реанимационные</span></td>
				<td class="tableSectionone" colspan="4"><span font-family: 'Times New Roman' ; font-size:
						medium;">прочие</span></td>
			</tr>
			<tr style="height: 4px;">
				<td class="tableSectiontwo" rowspan="2" bgcolor="#D9D9D9"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#D9D9D9"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">из них под COVID19</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#D9D9D9"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#D9D9D9"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">из них пациентами с COVID19</span>
				</td>
				<td class="tableSectiontwo" colspan="2"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">развернуто</span></td>
				<td class="tableSectiontwo" colspan="2"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">занято</span></td>
				<td class="tableSectiontwo" colspan="2"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">развернуто</span></td>
				<td class="tableSectiontwo" colspan="2"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">занято</span></td>
				<td class="tableSectiontwo" colspan="2"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">развернуто</span></td>
				<td class="tableSectiontwo" colspan="2"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">занято</span></td>
				<td class="tableSectiontwo" colspan="2" bgcolor="#C3D69B"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectiontwo" colspan="2" bgcolor="#D7E4BD"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">подтвержденных лабораторно</span>
				</td>
				<td class="tableSectiontwo" colspan="2" bgcolor="#D7E4BD"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">с пневмонией</span></td>
				<td class="tableSectiontwo" colspan="2" bgcolor="#D7E4BD"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">в тяжелом состоянии</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#FAC090"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">всего</span></td>
				<td class="tableSectiontwo" colspan="3" bgcolor="#FCD5B5"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">в медицинских учреждениях
						государственной и муниципальной систем здравоохранения</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#FCD5B5"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">на дому</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#FAC090"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">всего</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#FDEADA"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">в обсерваторе</span></td>
				<td class="tableSectiontwo" rowspan="2" bgcolor="#FDEADA"><span
						style=" font-family: 'Times New Roman'; font-size: medium;">на дому</span></td>
			</tr>
			<tr style="height: 50px;">
				<td class="tableSectionthree"><span
						style="font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectionthree"><span style="font-family: 'Times New Roman'; font-size: medium;">из них
						под COVID19</span></td>
				<td class="tableSectionthree"><span
						style="font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectionthree"><span style="font-family: 'Times New Roman'; font-size: medium;">из них
						пациентами с COVID19</span></td>
				<td class="tableSectionthree"><span
						style="font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectionthree"><span style="font-family: 'Times New Roman'; font-size: medium;">из них
						под COVID19</span></td>
				<td class="tableSectionthree"><span
						style="font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectionthree"><span style="font-family: 'Times New Roman'; font-size: medium;">из них
						пациентами с COVID19</span></td>
				<td class="tableSectionthree"><span
						style="font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectionthree"><span style="font-family: 'Times New Roman'; font-size: medium;">из них
						под COVID19</span></td>
				<td class="tableSectionthree"><span
						style="font-family: 'Times New Roman'; font-size: medium;">Всего</span></td>
				<td class="tableSectionthree"><span style="font-family: 'Times New Roman'; font-size: medium;">из них
						пациентами с COVID19</span></td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#EBF1DE"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#C3D69B"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#C3D69B"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#D7E4BD"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#D7E4BD"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#D7E4BD"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#D7E4BD"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#D7E4BD"><span font-family: 'Times New Roman' ;">Всего</span>
				</td>
				<td class="tableSectionthree" bgcolor="#D7E4BD"><span font-family: 'Times New Roman' ;">в т.ч.
						в/с</span></td>
				<td class="tableSectionthree" bgcolor="#FCD5B5"><span font-family: 'Times New Roman' ; font-size:
						medium;">всего</span></td>
				<td class="tableSectionthree" bgcolor="#FCD5B5"><span font-family: 'Times New Roman' ; font-size:
						medium;">с пневмонией</span></td>
				<td class="tableSectionthree" bgcolor="#FCD5B5"><span font-family: 'Times New Roman' ; font-size:
						medium;">в тяжелом состоянии</span></td>
			</tr>
			<tr style="height: 27px;">
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">6</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">7</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">8</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">9</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">10</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">11</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">12</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">13</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">14</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">15</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">16</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">17</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">18</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">19</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">20</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">21</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">22</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">23</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">24</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">25</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">26</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">27</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">28</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">29</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">30</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">31</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">32</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">33</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">34</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">35</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">36</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">37</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">38</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">39</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">40</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">41</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">42</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">43</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">44</span></em></td>
				<td class="tableNumber"><em><span font-family: 'Times New Roman' ;">45</span></em></td>
			</tr>

			<tr id='test123' contenteditable="true" style="height: 18px;">
				<form method="post" action="edit">
					{% csrf_token %}
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_5'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_6'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_7'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_8'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_9'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_10'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_11'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_12'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_13'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_14'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_15'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_16'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_17'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_18'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_19'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_20'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_21'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_22'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_23'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_24'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_25'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_26'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_27'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_28'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_29'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_30'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_31'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_32'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_33'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_34'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_35'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_36'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_37'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_38'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_39'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_40'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_41'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_42'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_43'></strong></td>
					<td class="tableInput"><strong><input class="in_table" type="text" name='cell_44'></strong></td>
			</tr>
			</tbody>
		</table>
	</div>

	<button>Отправить</button>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message in message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</form>
</div>

<div class="button-table">

	<button id="button">Очистить</button>

	<form method='post' action="import" enctype="multipart/form-data">
		{% csrf_token %}
		<button>Загрузить</button>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li {% if messages in message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<input type="file" required name="files">
	</form>
</div>
</div>